input {
    border-radius: 4px;
    padding: 10px 16px;
    outline: none;
    border: 1px solid #bbbbbb
}
    input::placeholder{
        font-size:13px;
    }
    .input-seach {
        padding-left: 40px;
    }